

<section class="content">
  <!-- Default box -->
  <div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3 class="d-inline-block d-sm-none">{{ currentProduct }}</h3>
          <div class="col-12">
            <img
              [src]="currentProduct?.data?.image"
              class="product-image"
              alt="Product Image"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="my-3">{{ currentProduct?.data?.name }}</h3>
          

          <hr />

          <div class="bg-gray py-2 px-3 mt-4">
            <h4 class="mb-0">Price : {{currentProduct?.data?.price | currency}}</h4>
          </div>

          <hr />

          <div class="bg-gray py-2 px-3 mt-4">
            <h4 class="mb-0">Quantity : {{currentProduct?.data?.quantity }}</h4>
          </div>

          <hr />

          <div class="bg-gray py-2 px-3 mt-4">
            <h4 class="mb-0">Category Name : {{currentProduct?.data?.category}}</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
